<div class="submain">
    <form method="POST" (submit)="login(email.value, password.value)">
        <h1 class="rows login-title">Login</h1>
        <div class="formbox">
            <div class="inputboxes">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="E-mail" #email required >
                </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" #password required>
            </div>
            </div>
            <input id="submit" type="submit" name="Entrar" value="Login">
        </div>
    </form>
    <div style="margin-left: 80px;">
        <a href="#"class="forgot-password">Forgot password?</a>
    </div>
</div>
      


