<div class="background">
    <div class="main" style="display: flex">
      <div class="resolver-simulado">
        <h5>Resolver Simulado</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vestibulum risus vel suscipit tempor. Donec et vulputate quam. Nullam condimentum felis orci, vehicula lacinia diam porttitor sit amet. Ut quis justo id.</p>
        <button type="button" name="button" onclick="">Simulado</button>
      </div>
      <div class="banco-questões">
        <h5>Banco de Questões</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero erat. Morbi dictum luctus venenatis. In hac habitasse platea dictumst. Mauris quis ullamcorper lorem, vel varius risus. Sed feugiat nunc sapien.</p>
        <button type="button" name="button" onclick="">Acesso</button>
      </div>
      <div class="sugerir-questão">
        <h5>Sugerir Questão</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero erat. Morbi dictum luctus venenatis. In hac habitasse platea dictumst. Mauris quis ullamcorper lorem, vel varius risus. Sed feugiat nunc sapien.</p>
        <button type="button" name="button" onclick="">Sugerir</button>
      </div>
    </div>
    <div class="ranking">
     <h3>Ranking</h3>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae libero erat. Morbi dictum luctus venenatis. In hac habitasse platea dictumst. Mauris quis ullamcorper lorem, vel varius risus. Sed feugiat nunc sapien.</p>
     <div id="ranking" class="ranking-content" style="height:400px;margin:auto">
     </div>
    </div>
  </div>